#editCampaignStory {
    display: flex;
}

#story {
    overflow: auto;
}

#editCampaignEncounter {
    display: flex;
}

#editCampaignLoot {
    display: flex;
}


.eventForm {
    display:flex;
    flex-direction: column;
}
