.campaignCard {
    border: 3px solid black ;
    width: 900px;
    margin: 10px;
}

.buttonFlex {
    display: flex;
    justify-content: flex-end
}

.btn {
    color: red;
    border: 1px black solid;
    background-color: rgb(247, 218, 218);
}
.btn:hover {
    color: black;
    background-color: goldenrod;
}

#allCampaigns {
    display: flex;
    flex-direction: column;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#campaignPageStory {
    border: 1px black solid;
    padding: 10px;
    overflow: auto;
}

#addCampaignForm {
    border: 1px black solid;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#lootTable {
    margin-top: 12px;
    display:flex;
    overflow: auto;
    align-self:center;
    flex-direction: column;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#campaignStory {
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 600px;
    height: 320px;
}

#loot {
    width: 230px;
}

#storyTable {
    display: flex;
    flex-direction: row;
}

#encounterTables {
    margin-top: 12px;
    align-self: center;
    display: flex;
    flex-direction: column;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#encounters {
    width: 30px;
}

#mapTable {
    border: 1px black solid;
    height: 250px;
    width: 250px;
}

#nonCampaignBoxes {
    display: flex;
}

#mapTableBox {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column-reverse;
    width:250px;
    margin-left: 5px;
}

#mapSelector {
    width: 200px;
    height: 30px;
    margin-left: 5px;
}

#newCampaignSubmit{
    width:90px;
}

#addCampaignButtonBox {
    display: flex;
    justify-content: flex-end;
}

.allCampaignCards {
    border: 3px solid black;
    width: 900px;
    margin: 10px;
    height: 45px;
}

#campaignLink {
    color:black;
}

#campaignLink:hover {
    color: goldenrod;
}

#campaignEncounter {
    margin-left: 5px;
}

#campaignLoot {
    margin-left: 5px;
}

#campaignPageTitle {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#lootTableSearch {
    display: flex;
    flex-direction: column;
}

#encounterTableSearch {
    display: flex;
    flex-direction: column;
}

#campaignEncounterSearch {
    width: 230px;
    margin-right: 23px;
}

#campaignLootSearch {
    width: 230px;
    margin-right: 23px;
}

#lootSearchButton {
    width: 100px;
    margin-left: 7px;
}

#encounterSearchButton {
    width: 100px;
}

#allCampaigns {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#addCampaignPageName {
    font-family: Georgia, 'Times New Roman', Times, serif;
}