#DMpageCampaignStory {
    border: 1px black solid;
    height: 100px;
    width: 100px;
}

#DMpageCampaignName {
    border: 1px black solid;
    height: 100px;
    width: 100px;
}

#DMpageCampaignEncounters {
    border: 1px black solid;
    height: 100px;
    width: 100px;
}

#DMpageCampaignLoot {
    border: 1px black solid;
    height: 100px;
    width: 100px;
}