.loginForm {
    padding: 25px 25px;
    border: 1px black solid;
    width: 350px;
}
#username {
    width: 180px;
    height: 30px;
}
#password {
    width: 180px;
    height: 30px;
}
#button {
    height: 30px;
    width: 80px;
}
#moveTheBox {
    display: flex;
    justify-content: center;
    padding-top: 140px
}
#mainPage {
    background-color:lightgrey;
}
#buttonHolder {
    display: flex;
    justify-content: center
}

#loginPageTitle {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 75px;
}

#passwordTitle {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 5px;
}

#usernameTitle {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.btn {
    color: red;
    border: 1px black solid;
    background-color: rgb(247, 218, 218);
}